@charset "UTF-8";
/* CSS Document */


body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	-webkit-font-smoothing: antialiased;
}

sup {
	font-size: 65%;
	line-height: 0;
}

#container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
} 


